{%extends 'base.html'%} 
{%block title%} Home {%endblock%} 
{%block content%} 
<div class="px-4 py-4 flex items-center justify-between">
    <button type="submit" id="addDivButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Add Item</button>

    <form id="addItemForm" action="" method="post">
    {% csrf_token %}

    <div class="px-4 py-4 flex items-center">
        <input type="text" name="name" placeholder="Enter Task" class="rounded-full px-4 ml-2">
    </div>
    </form>  
    <form method="post" action="" name="delete">  
    {% csrf_token %}
    <input id="deleteitem" type="text" name="delete" hidden>
    <div class="ml-auto">
      <button id="delete" type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">Delete All</button>
    </div>
  </div>
  <script>
    document.getElementById('addDivButton').addEventListener('click', function() {
        document.getElementById('addItemForm').submit();
    });
    </script>
    <script>
        document.getElementById('delete').addEventListener('click', function() {
            document.getElementById('deleteitem').submit();
        });
    </script>

  
  
    <div id="dynamicDivContainer" class="relative">
        <!-- Placeholder div where the temporary div will appear -->
    </div>
    <div>
        {%for item in items%} 
        <div class="  rounded-full flex justify-center items-center bg-blue-200 my-1 mx-40">
            <p class="py-4 px-6 m-left-40">{{ item }}</p>
            <div class="ml-auto">
                <form method ="post" >
                {% csrf_token %}

              <button type="submit" name="action" value="{{ forloop.counter }}" class=" mx-5 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">
                remove
              </button>
              </form>
            </div>
          </div>
        {%endfor%}


    </div>



{%endblock%} 
