{%extends 'base.html'%} 
{%block title%} Home {%endblock%} 
{%block content%} 
    <div class="px-4 py-4 flex justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Add Item</button>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full ">Delete All</button>
    </div>
    <div>
        {%for item in items%} 
        <div class="  rounded-full flex justify-center items-center bg-blue-200 my-1 mx-40">
            <p class="py-4 px-6 m-left-40">{{ item }}</p>
            <div class="ml-auto">
              <button class=" mx-5 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">
                remove
              </button>
            </div>
          </div>
        {%endfor%}


    </div>



{%endblock%} 
